
.shake1{
    height: 680px;
    background: url('images/man_skull.png')no-repeat center left;
    background-size: 70%;
}

.shake2{
 height: 680px;
    background: url('images/evil_queen.png')no-repeat center right;
    background-size: 65%;
}

.shake3{
 height: 680px;
    background: url('images/knight.png')no-repeat center right;
    background-size: 30%;
}

.shake4{
 height: 680px;
    background: url('images/hamlet.png')no-repeat center;
    background-size: cover;
}

.shake5{

}

nav ul{
    text-align: center;
    padding: 20px;
    border-bottom: 2px #EDEDED solid;
}

nav li{
    display: inline;
    padding: 0px 30px;
}

nav a{
    text-decoration: none;
    color: blue;
}
