* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-repeat: no-repeat;
}

body {
}

nav {

}

nav ul{
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    text-align: center;
    padding: 20px;
    background-color: #991C1C;
    z-index: 9;
}

nav li{
    display: inline;
    padding: 0px 30px;
    font-size: 20px;
    font-family: helvetica;
}

nav a{
    text-decoration: none;
    color: white;
}

.shake1 {
    height: 880px;
    background: url('images/group.jpg')no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 0px -280px;
    padding-top: 130px;
    padding-left: 25px;
}

.openbook {
    position: absolute;
    top: 100px;
    left: 250px;
}

.headlines {
    max-width: 510px;
    background-color: #FCCA3F;
    padding: 20px;
    border-radius: 20px;
    border: 4px solid #991C1C;

}


h1, h2, h3, h4 {
        font-family: 'Eagle Lake', cursive;
        color: #991C1C;
}

.banner {
    position: fixed;
    top: 60px;
    right: 100px;
    z-index: 10;

}

.price {
    position: absolute;
    top: 20px;
    right: 30px;
    font-family: 'Racing Sans One', cursive;
    font-size: 2.8em;
    line-height: 1em;

}


.quotes {
    height: 185px;
    background-color: #FCCA3F;
    font-family: 'Eagle Lake', cursive;
    padding: 20px 75px 20px 75px;
    color: #991C1C;
}


.shake2 {
    height: 1300px;
    background: url('images/fight.jpg')no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    padding-top: 75px;
    text-align: center;

}



.author {
    width: 50%;
    margin: 0 auto;
    background-color: rgba(255,255,255, 0.8);
    padding: 25px;
    text-align: left;
}



.shake3 {
    height: 1300px;
    background: url('images/hamlet with ghosts.jpg')no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    padding-top: 75px;
    text-align: center;
}

.collaborators {
    width: 50%;
    margin: 0 auto;
    background-color: rgba(255,255,255, 0.8);
    padding: 25px;
    text-align: left;
}

.shake4 {
    height: 880px;
    background: url('images/old_paper.jpg')no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0px 0px;

}

.shake4 h2{
    margin-top: 0px;
    text-align: center;
    padding-top: 80px;
    color: ;

}
@media screen and (min-width: 800px) {
    body {
    }
}
